<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="icon" th:href="@{/static/assets/img/favicon.ico}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/static/css/font_awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/custom.css}">
    <style>
        .thick-divider {
            border-top: 3px solid #000;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
        @keyframes slideIn {
            from {
                transform: translateY(-100%);
                opacity: 0;
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        .card-body.slide-in {
            animation: slideIn 0.5s ease-out;
        }

        @keyframes slideRightToLeft {
            from {
                transform: translateX(100%);
            }
            to {
                transform: translateX(0);
            }
        }

        .toast.show.slide-right-to-left {
            animation: slideRightToLeft 0.5s ease forwards;
        }
    </style>
</head>
<body>
<div class="main-wrapper">
    <div th:if="${message}" class="toast show slide-right-to-left"
         th:classappend="${message.messageType == 'success'} ? 'bg-success' : 'bg-danger'"
         style="position: absolute; bottom: 10px; right: 20px; z-index: 99">
        <div class="toast-header">
            <strong class="mr-auto"
                    th:text="${message.messageType == 'success'} ? 'Success' : 'Error'"></strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body text-white" th:text="${message.message}">
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div th:if="${header}" th:replace="${header} :: header(${user})"></div>
        <div th:if="${sidebar}" th:replace="${sidebar} :: sidebar(${active},${user})"></div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Doctors</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <button class="btn btn-primary btn-rounded float-right" data-toggle="modal" data-target="#addDoctorModal"><i class="fa fa-plus"></i> Add Doctor</button>
                    </div>
                </div>
                <div class="row doctor-grid">
                    <div class="col-md-4 col-sm-4  col-lg-3" th:each="doctorDisplay, iterStat :${doctorDisplayDTOS}">
                        <div class="profile-widget">
                            <div class="doctor-img">
                                <a class="avatar"><img alt="" th:src="@{/static/assets/img/{gender}DoctorAvatar.png(gender=${doctorDisplay.getDoctor().getGender()})}"></a>
                            </div>
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" th:onclick="'openUpdateModal('+${doctorDisplay.getDoctor().getId()}+')'"><i class="fa fa-pencil m-r-5"></i> Update</a>
                                    <a class="dropdown-item" th:onclick="'openDeleteModal('+${doctorDisplay.getDoctor().getId()}+')'"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                            <h4 class="doctor-name text-ellipsis" style="display: none" th:id="${'doctorId'+ doctorDisplay.getDoctor().getId()}" th:text="${doctorDisplay.getDoctor().getId()}"></h4>
                            <h4 class="doctor-name text-ellipsis" th:id="${'doctorName'+ doctorDisplay.getDoctor().getId()}" th:text="${doctorDisplay.getDoctor().getFullName()}"></h4>
                            <h4 class="doctor-name text-ellipsis" style="display: none" th:id="${'doctorEmail'+ doctorDisplay.getDoctor().getId()}" th:text="${doctorDisplay.getEmail()}"></h4>
                            <h4 class="doctor-name text-ellipsis" style="display: none" th:id="${'doctorAddress'+ doctorDisplay.getDoctor().getId()}" th:text="${doctorDisplay.getDoctor().getAddress()}"></h4>
                            <div class="doc-prof" th:id="${'doctorSpecialty' + doctorDisplay.getDoctor().getId()}" th:text="${doctorDisplay.getDoctor().getSpecialty    ()}"></div>
                            <div class="user-country">
                                <span>
                                    <i class="fa fa-map-marker"></i>
                                    <span th:text="${doctorDisplay.getDoctor().getAddress()}"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="see-all">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Doctor Modal -->
<div class="modal fade" id="addDoctorModal" tabindex="-1" role="dialog" aria-labelledby="addDoctorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1aaaff">
                <h5 class="modal-title text-white" id="addDoctorModalLabel">Add Doctor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:object="${doctorAccountDTO}" th:action="@{/admin/doctors/add}" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="mb-3">Doctor Details</h5>
                            <div class="form-group">
                                <label for="doctorName">Doctor Name</label>
                                <input type="text" class="form-control" id="doctorName" th:field="*{fullName}" placeholder="Enter doctor's name">
                            </div>
                            <div class="form-group">
                                <label for="doctorGender">Gender</label>
                                <select class="form-control" id="doctorGender" th:field="*{gender}">
                                    <option value="" selected disabled hidden>Choose here</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="doctorSpecialty">Specialty</label>
                                <input type="text" class="form-control" id="doctorSpecialty" th:field="*{specialty}" placeholder="Enter doctor's specialty">
                            </div>
                            <div class="form-group">
                                <label for="doctorAddress">Address</label>
                                <input type="text" class="form-control" id="doctorAddress" th:field="*{address}" placeholder="Enter doctor's location">
                            </div>
                            <div class="form-group">
                                <label for="doctorBirth">Date of Birth</label>
                                <input type="date" class="form-control" th:field="*{birth}" id="doctorBirth">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h5 class="mb-3">Doctor Account</h5>
                            <div class="form-group">
                                <label for="doctorUsername">Username</label>
                                <input type="text" class="form-control" id="doctorUsername" th:field="*{username}" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="doctorEmail">Email</label>
                                <input type="email" class="form-control" id="doctorEmail" th:field="*{email}" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="doctorPassword">Password</label>
                                <input type="password" class="form-control" id="doctorPassword" th:field="*{password}" placeholder="Enter password">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateDoctorModal" tabindex="-1" aria-labelledby="updateDoctorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #007bff">
                <h5 class="modal-title text-white" id="updateDoctorModalLabel">Update Doctor</h5>
                <button type="button" class="fa fa-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/doctors/update}" th:object="${updateDoctorDTO}" method="POST" id="updateForm">
                    <input type="hidden" name="doctorId" id="updateDoctorId" th:field="*{id}">
                    <div class="form-group">
                        <label for="updateDoctorName">Full Name</label>
                        <input type="text" class="form-control" th:field="*{fullName}" id="updateDoctorName" name="fullName" required>
                    </div>
                    <div class="form-group">
                        <label for="updateDoctorEmail">Email</label>
                        <input type="email" class="form-control" id="updateDoctorEmail" th:field="*{email}" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="updateDoctorSpecialty">Specialty</label>
                        <input type="text" class="form-control" id="updateDoctorSpecialty" th:field="*{specialty}" name="specialty" required>
                    </div>
                    <div class="form-group">
                        <label for="updateDoctorAddress">Address</label>
                        <textarea class="form-control" th:field="*{address}" id="updateDoctorAddress" name="address" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" form="updateForm" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this doctor?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form th:action="@{/admin/doctors/delete}" method="POST">
                    <input hidden type="text" id="doctorDeletedId" name="doctorId">
                    <button type="submit" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="sidebar-overlay" data-reff=""></div>
<script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/static/js/popper.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/jquery.slimscroll.js}"></script>
<script th:src="@{/static/js/select2.min.js}"></script>
<script th:src="@{/static/js/moment.min.js}"></script>
<script th:src="@{/static/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/static/js/app.js}"></script>
<script>
    function openUpdateModal(id) {
        var doctorId = document.getElementById('doctorId' + id).textContent;
        var doctorName = document.getElementById('doctorName' + id).textContent;
        var doctorSpecialty = document.getElementById('doctorSpecialty' + id).textContent;
        var doctorEmail = document.getElementById('doctorEmail' + id).textContent;
        var doctorAddress = document.getElementById('doctorAddress' + id).textContent;

        document.getElementById('updateDoctorId').value = doctorId;
        document.getElementById('updateDoctorName').value = doctorName;
        document.getElementById('updateDoctorEmail').value = doctorEmail;
        document.getElementById('updateDoctorSpecialty').value = doctorSpecialty;
        document.getElementById('updateDoctorAddress').value = doctorAddress;

        $('#updateDoctorModal').modal('show');
    }
    function openDeleteModal(id) {
        document.getElementById('doctorDeletedId').value = id;
        $('#confirmDeleteModal').modal('show');
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var cardBody = document.querySelector('.card-body');
        cardBody.classList.add('slide-in');
    });

    var closeButtons = document.querySelectorAll('[data-dismiss="toast"]');

    // Lặp qua từng nút đóng toast và thêm sự kiện click
    closeButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            // Tìm phần tử cha của nút đóng toast
            var toast = this.closest('.toast');
            // Nếu tìm thấy, ẩn toast
            if (toast) {
                var bsToast = new bootstrap.Toast(toast);
                bsToast.hide();
            }
        });
    });
</script>
</body>
</html>
