<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"
    ></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/static/css/font_awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/custom.css}">
</head>
<body>
    <div class="main-wrapper">
        <div sec:authorize="isAuthenticated()">
            <div th:if="${header}" th:replace="${header} :: header(${user})"></div>
            <div th:if="${sidebar}" th:replace="${sidebar} :: sidebar(${active},${user})"></div>

        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/static/js/popper.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/static/js/select2.min.js}"></script>
    <script th:src="@{/static/js/moment.min.js}"></script>
    <script th:src="@{/static/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/static/js/app.js}"></script>
</body>
</html>