<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<div class="sidebar" id="sidebar" th:fragment="sidebar(active,user)">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu" th:switch="${user.role}">
            <ul th:case="'USER'">
                <li class="menu-title">Main</li>
                <li th:class="${active == 'dashboard'} ? 'active' : ''">
                    <a href="/user/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li th:class="${active == 'appointments'} ? 'active' : ''">
                    <a href="/user/appointments"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                </li>
                <li th:class="${active == 'bills'} ? 'active' : ''">
                    <a href="/user/bills"><i class="fa fa-file-invoice-dollar"></i> <span>Bills</span></a>
                </li>
            </ul>
            <ul th:case="'ADMIN'">
                <li class="menu-title">Main</li>
                <li th:class="${active == 'dashboard'} ? 'active' : ''">
                    <a href="/admin/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li th:class="${active == 'appointments'} ? 'active' : ''">
                    <a href="/admin/appointments"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                </li>
                <li th:class="${active == 'patients'} ? 'active' : ''">
                    <a href="/admin/patients"><i class="fa fa-user"></i> <span>Patients</span></a>
                </li>
                <li th:class="${active == 'doctors'} ? 'active' : ''">
                    <a href="/admin/doctors"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                </li>
                <li th:class="${active == 'medicines'} ? 'active' : ''">
                    <a href="/admin/medicines"><i class="fa fa-pills"></i> <span>Medicines</span></a>
                </li>
                <li th:class="${active == 'bills'} ? 'active' : ''">
                    <a href="/admin/bills"><i class="fa fa-file-invoice-dollar"></i> <span>Bills</span></a>
                </li>
            </ul>
            <ul th:case="'DOCTOR'">
                <li class="menu-title">Main</li>
                <li th:class="${active == 'dashboard'} ? 'active' : ''">
                    <a href="/doctor/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li th:class="${active == 'appointments'} ? 'active' : ''">
                    <a href="/doctor/appointments"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                </li>
                <li th:class="${active == 'bills'} ? 'active' : ''">
                    <a href="/doctor/bills-list"><i class="fa fa-file-invoice-dollar"></i> <span>Bills</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="sidebar-overlay" data-reff=""></div>
<script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/static/js/popper.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/jquery.slimscroll.js}"></script>
<script th:src="@{/static/js/select2.min.js}"></script>
<script th:src="@{/static/js/moment.min.js}"></script>
<script th:src="@{/static/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/static/js/app.js}"></script>
</body>
</html>