<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Bills</title>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="icon" th:href="@{/static/assets/img/favicon.ico}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/static/css/font_awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/custom.css}">
    <style>
        .table-responsive {
            max-height: 400px; /* Adjust height as needed */
            overflow-y: auto;
        }

        .table td, .table th {
            max-width: 150px; /* Adjust width as needed */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        textarea {
            width: 100%;
            resize: none;
        }

        .table-bordered > thead > tr > th {
            border: 1px solid black;
        }

        .table .table-bordered > tbody > tr > th {
            border: 1px solid black;
        }

        @keyframes slideIn {
            from {
                transform: translateY(-100%);
                opacity: 0;
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        .card-body.slide-in {
            animation: slideIn 0.5s ease-out;
        }

        @keyframes slideRightToLeft {
            from {
                transform: translateX(100%);
            }
            to {
                transform: translateX(0);
            }
        }

        .toast.show.slide-right-to-left {
            animation: slideRightToLeft 0.5s ease forwards;
        }
    </style>
</head>
<body>
<div class="main-wrapper">
    <div th:if="${message}" class="toast show slide-right-to-left" th:classappend="${message.messageType == 'success'} ? 'bg-success' : 'bg-danger'" style="position: absolute; bottom: 10px; right: 20px; z-index: 99">
        <div class="toast-header">
            <strong class="mr-auto" th:text="${message.messageType == 'success'} ? 'Success' : 'Error'"></strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body text-white" th:text="${message.message}">
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div th:if="${header}" th:replace="${header} :: header(${user})"></div>
        <div th:if="${sidebar}" th:replace="${sidebar} :: sidebar(${active},${user})"></div>
        <div class="page-wrapper">
            <div class="content">
                <div class="card mx-auto shadow" style="height: fit-content;">
                    <div class="card-body slide-in">
                        <div class="text-center">
                            <h1 class="card-title">My Bills</h1>
                        </div>
                        <h5>Existing Bills</h5>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="text-white" style="background-color: #1aaaff">
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Total Money</th>
                                    <th>Status</th>
                                    <th>Created At</th>
                                </tr>
                                </thead>
                                <tbody th:each="billDisplay, iterStat : ${billDisplayDTOS}">
                                <tr th:class="${billDisplay.getBill().getStatus() == 'Pending' ? 'table-warning' : (billDisplay.getBill().getStatus() == 'Not Paid' ? 'table-danger' : 'table-success')}"
                                    th:data-id="${billDisplay.getBill().getId()}"
                                    onclick="openModal(this)">
                                    <td th:text="${billDisplay.getBill().getId()}"></td>
                                    <td th:text="${billDisplay.getDate()}"></td>
                                    <td th:text="${billDisplay.getBill().getTotalMoney() + ' $'}"></td>
                                    <td th:text="${billDisplay.getBill().getStatus()}"></td>
                                    <td th:text="${billDisplay.getBill().getCreatedAt()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" th:each="billDisplay, iterStat : ${billDisplayDTOS}"
     th:id="${'BILL' +billDisplay.getBill().getId()}" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invoiceModalLabel">Bill Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="invoice-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="mb-4 text-muted">PreClinic</h2>
                        </div>
                        <div class="col-sm-6">
                            <div class="row justify-content-end mr-0">
            <span th:class="${billDisplay.getBill().getStatus() == 'Pending' ? 'bg-warning badge text-white ms-2' : (billDisplay.getBill().getStatus() == 'Not Paid' ? 'bg-danger badge text-white ms-2' : 'bg-success badge text-white ms-2')}"
                  th:text="${billDisplay.getBill().getStatus()}"
                  style="font-size: 20px;">
            </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="text-muted">
                            <p class="mb-1">Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, Thành phố Hồ Chí Minh</p>
                            <p class="mb-1"><i class="fa fa-envelope"></i> xyz@987.com</p>
                            <p><i class="fa fa-phone"></i> 012-345-6789</p>
                        </div>
                    </div>
                    <hr class="my-4">
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="text-muted">
                            <h5 class="font-size-16 mb-3">Billed To:</h5>
                            <h5 class="font-size-15 mb-2" th:text="${billDisplay.getBill().getPatient().getFullName()}"></h5>
                            <p class="mb-1" th:text="${billDisplay.getBill().getPatient().getAddress()}"></p>
                            <p class="mb-1" th:text="${billDisplay.getPatientEmail()}"></p>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-sm-6 text-right">
                        <div class="text-muted">
                            <div>
                                <h5 class="font-size-15 mb-1">Bill No:</h5>
                                <p th:text="${'#BD' + billDisplay.getBill().getId()}"></p>
                            </div>
                            <div class="mt-4">
                                <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                <p th:text="${billDisplay.getBill().getCreatedAt()}"></p>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="py-2">
                    <h5 class="font-size-15">Medicine Details</h5>
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap table-centered mb-0">
                            <thead>
                            <tr>
                                <th style="width: 70px;">No.</th>
                                <th>Name</th>
                                <th>Price Per Unit</th>
                                <th>Quantity</th>
                                <th class="text-right" style="width: 120px;">Total</th>
                            </tr>
                            </thead><!-- end thead -->
                            <tbody th:each="detail, stat: ${billDisplay.getBillDetailDTOs()}">
                            <tr>
                                <th scope="row" th:text="${stat.index + 1}"></th>
                                <td th:text="${detail.getMedicine().getName()}"></td>
                                <td th:text="${detail.getMedicine().getPricePerUnit() + ' $ /' + detail.getMedicine().getUnit()}"></td>
                                <td th:text="${detail.getBillDetail().getQuantity() + ' ' + detail.getMedicine().getUnit()}"></td>
                                <td th:text="${detail.getBillDetail().getQuantity() * detail.getMedicine().getPricePerUnit() + ' $'}" class="text-right"></td>
                            </tr>
                            <!-- end tr -->
                            </tbody><!-- end tbody -->
                            <tr>
                                <th scope="row" colspan="4" class="text-right">Sub Total</th>
                                <td class="text-right" th:text="${billDisplay.getBill().getTotalMoney() + ' $'}"></td>
                            </tr>
                            <!-- end tr -->
                            <tr>
                                <th scope="row" colspan="4" class="border-0 text-right">
                                    Discount :
                                </th>
                                <td class="border-0 text-right">- 0 $</td>
                            </tr>
                            <!-- end tr -->
                            <tr>
                                <th scope="row" colspan="4" class="border-0 text-right">
                                    VAT (2%) :
                                </th>
                                <td class="border-0 text-right" th:id="${'vat'+billDisplay.getBill().getId()}"></td>
                            </tr>
                            <!-- end tr -->
                            <tr>
                                <th scope="row" colspan="4" class="border-0 text-right">Total</th>
                                <td class="border-0 text-right"><h4 class="m-0 fw-semibold" th:id="${'total'+billDisplay.getBill().getId()}"></h4></td>
                            </tr>
                        </table><!-- end table -->
                    </div><!-- end table responsive -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="window.print()" class="btn btn-success mr-1"><i class="fa fa-print"></i> Print</button>
            </div>
        </div>
    </div>
</div>


<div class="sidebar-overlay" data-reff=""></div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"></script>
<script>
    function openModal(row) {
        var id = row.getAttribute('data-id');
        var modal = new bootstrap.Modal(document.getElementById('BILL' + id));

        var totalMoney = parseFloat(row.cells[2].textContent.replace(' $', '').replace(',', ''));
        var vat = totalMoney * 0.2;
        var total = totalMoney + vat;

        document.getElementById('vat' + id).textContent = vat.toFixed(2) + ' $';
        document.getElementById('total' + id).textContent = total.toFixed(2) + ' $';
        modal.show();
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var cardBody = document.querySelector('.card-body');
        cardBody.classList.add('slide-in');
    });

    var closeButtons = document.querySelectorAll('[data-dismiss="toast"]');

    // Lặp qua từng nút đóng toast và thêm sự kiện click
    closeButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            // Tìm phần tử cha của nút đóng toast
            var toast = this.closest('.toast');
            // Nếu tìm thấy, ẩn toast
            if (toast) {
                var bsToast = new bootstrap.Toast(toast);
                bsToast.hide();
            }
        });
    });
</script>
</body>
</html>
